*{
    margin: 0;
    padding: 0;
}
.kepala{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background-color: #5C4033;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    height: 80px;
    line-height: 30px;
    border-bottom: 5px solid #D18B47;
}
.atas1 h1{
    color: #BFAA8A;
    font-family: 'playfair display';
    border-bottom: 2px solid #D18B47;
    padding-bottom: 10px;
}
.atas1 p{
    color: white;
    font-family: 'Lora';
}
nav a{
    color: #BFAA8A;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 800;
    font-family: 'Lora';
}
nav a:hover{
    color: #C47A47;
}
.las {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
    border-bottom: 5px solid #D18B47;
}
.foto {
    background: url(../images/indoabout.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    z-index: 1;
}
.lap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.cont {
  position: relative;
  z-index: 3;
  text-align: left;
  color: white;
  top: 150px;
  margin-left: 20px;
}
.cont h1{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'playfair display';
}
.cont p{
    background-color: rgb(228, 226, 208, 0.5);
    border-radius: 10px;
    font-size: 23px;
    margin-top: 10px;
    font-family: 'Lora';
    padding: 10px;
    margin-right: 20px;
    text-align: justify;
}
footer{
    border: 1px solid ;
    background-color: #5C4033;
    padding: 40px 20px 10px; /* atas kanan-kiri bawah */
}
.kaki1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}
.kaki-isi h3{
    font-size: 20px;
    font-family: 'playfair display';
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 400px;
    border-bottom: 2px solid #D18B47;
    color: #BFAA8A;
}
.kaki-isi p{
    color: white;
    font-family: 'Lora';
    margin-top: 10px;
}
.kaki-cont h4{
    font-size: 18px;
    margin-bottom: 8px;
    color: #BFAA8A;
}
.kaki-cont a{
    text-decoration: none;
    color: #f3e1c0;
    transition: 0.3s;
    font-family: 'Lora';
}
.kaki-cont p{
    color: white;
    font-family: 'Lora';
}
.kaki-cont a:hover{
    color: #C47A47;
}
.kaki-bwh {
  text-align: center;
  margin-top: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  font-size: 15px;
  color: #e0c39b;
}
.kepala .bus p{
    color: white;
    font-family: 'Playfair Display';
}